h2
{
  color:#929292;
  float: left;
  margin-left: 100px;
}
.navbar-left li a{
  color:#929292;
  text-decoration: none;
}


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 80px;
  margin-left: 120px;
}

#myImg:hover {
  opacity: 0.7;
  color:#1BC4C8;
  font-size: 200px;
}
.col-md-7 h4{
  text-transform: uppercase;
  color: #555555;
  font-size: 24px;
  margin: 0px 0 0 20px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;

}
#paragraph p{
  margin-bottom: 15px;
  line-height: 1.9;
  color:#666666;
}
#paragraph{
  float:right;
  margin-top: 100px;

}
.social_share_btn {
  background: #fff;
  border: 1px solid #e1e1e1;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  min-height: 40px;
  margin-right: 15px;
  padding: 0 18px;
  position: relative;
  border-radius: 200px;
}
#socialbuttons a .fa{
  color:#969696;
  border: 1px solid #e1e1e1;
  padding: 9px;
  border-radius: 15px;
  margin-left: 9px;
}
#socialbuttons a .fa:hover{
  color: #1CCDCA;
  border-color: #1CCDCA;
}
.bar .fa
{
  color: #6EDFDD;
  font-size: 30px;
  padding: 20px;
border: 1px solid #DDDEE0;
border-radius: 40px;
}
.col-md-5 table,tr,td {
  border: 1px solid #CBCBCB;
  border-collapse: collapse;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 300px;
  padding-left: 15px;

}
.table-responsive a:hover{
  color: #1CCDCA;
}
.table-responsive a{
  color: #5F5F5F;
  text-decoration: none;
}
.col-md-7 .tabs-body {
  background: #fff;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  clear: none;
  float: left;
  position: relative;
  width: 70%;
  margin: 0;
  padding: 0;

  min-height: 204px;
  height: auto;
}
ul{
  list-style-type: none;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  border-radius: 3px;
}
.entry-content table {
  border: 1px solid #E5E5E5;
  border-collapse: separate;
  border-left: 0;

  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 50%;
  max-width: 50%;
  margin-bottom: 20px;
}
.col-md-3 .fa:hover{
  background-color: #1CCDCA;
  padding: 30px;
  text-align: center;
  border-radius: 40px;
  color:white;
}
.col-md-3 .fa{
  font-size: 30px;
  color: #1CCDCA;
}
ul list1 li{
  float: left;
  padding: 0 30px;
    position: relative;
    width: 50%;
    line-height: 20px;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.nav.nav-tabs {
  float: left;
  display: block;

  border-bottom:0;

}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;

}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color:#fff !important;
  border-color: transparent !important;
  border: 1px solid #000;
  border-left: 3px solid #1EEDDF;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0rem!important;
  border-top-right-radius: 0rem!important;
}
.tab-content>.active {
  display: block;
  background: #fff;
  min-height: 165px;
}
.nav.nav-tabs {
  float: left;
  display: block;
  margin-right: 20px;
  border-bottom: 0;
  border-right: 1px solid transparent;
  padding-right: 15px;
}

.detailslist{
  list-style: none;
}
.detailslist li:before {
  content: '✓';
}

.featureslist {
  list-style: none;
}


.carousel{
  padding: 0px 40px 30px 40px;
  margin-bottom: 0;
}
.carousel-control{
height: 40px;
width: 40px;
left:-12px;
border: 1px solid #FFFFFF;
background: none repeat scroll 0 0 #222222;
margin-top: 90px;
border-radius: 23px;

}
.carousel-control .right
{
  right: -12px;
}
.carousel-indicators{
  right: 50%;
  top:auto;
  bottom: -10px;
  margin-right: -19px;
}
.carousel-indicators li{
  background: #cecece;

}
.carousel-indicators .active{
  background:#1BC4C8;
}


.recent_posts_list li > a .recent_posts_img {

  margin: 15px 0px 0 0px;
}
i,.fa-3x {
  color: #1CCDCA;
}

span {
  display: inline-block;
  vertical-align: middle;
}

.outer-line {
  width: 40%;
  border-bottom: 1px solid #F2F2F2;
}
