/* @media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

.navbar button i{
  overflow: hidden;
}
.navbar img {
margin-left: 100px;
}
a.nav-link.active {
  text-decoration: none;
  color: #0098A0 !important;
}
.nav-link{
  color: #1F1F1F !important;
  font-size: 13px;
}
navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)");
  }
  .navbar-toggle{
    color:#000;
    }
.nav-link:hover{
color: #0098A0 !important;

}
.content{
  background-color: #0098A0;
  color: white;
  position: relative;
  width: 100%;
  margin-top: -1px;
  padding: 20px 0 23px;

}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.content {

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}


.title{
  font-size: 24px;
    font-weight: 300;
    margin: 0 0 20px;
    line-height: 24px;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #9F9EA9;
}

.contentAbout{
  background-color:#39354C;
  color: white;

}
.square1 {
	width: 60px;
	height: 60px;
  background:#F3605D;
  font-size:38px;

}

.square2 {
	width: 60px;
	height: 60px;
  background:#D91897;
  font-size:38px;

}
/* @media only screen and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .imageicon{
    text-align: center;
    width: 35px;
    margin-left: 228px;
    margin-top: -33px
  }
}
@media only screen and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .imageicon{
    text-align: center;
    width: 35px;
    margin-left: 228px;
    margin-top: -33px
  }
} */
.imageicon{
  text-align: center;
  width: 35px;
  margin-left: 228px;
  margin-top: -33px
}
@media only screen and (max-width: 600px) {
  .imageicon {
   text-align: center;
   width: 35px;
   margin-left: 128px;
   margin-top: -33px
  }
  }
  @media only screen and (max-width: 992px) {
    .imageicon {
   text-align: center;
   width: 35px;
   margin-left: 138px;
   margin-top: -33px
  }
  }
.crossRotate {
  -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
  }

  .crossRotate:hover {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.row1 {
  margin-top: 50px;
}
/* #aboutText{
  margin-top: 150px;
} */

#SERVICES{
  background-color:#1F1F1F;
  color: white;
  width: 100%;

  padding-bottom: 50px;
}
span{
  height: 1px;
}
.container{
  margin-top: 30px;
  max-width: 1170px;
  position: relative;
    width: 100%;
}
.col-sm-6{
  margin-top:30px;
}


.desc1{
  color: #898989;
}
li {
  float: left;
padding: 15px;
}
.col-sm-2 .fa{
  color: #1E7876;

  font-size: 40px;

}
.col-sm-2 a img{
  color: #1E7876;

  font-size: 40px;

}
.desc
{
  color: #B2B2B2;
}
 .service_box .desc {

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.service_box h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 8px;
  visibility: inherit !important;
}
h3
{
  line-height: 30px;
}
.card-body h3{
  font-size: 18px;
    font-weight: 400;
    margin: 0 0 8px;
    visibility: inherit !important;
}


.contactheading .fa{
  font-size:35px;
  float:left;
  color: white;

 }


.icon .fa {
color: white;
background-color: #3B3239;
top: 5px;
font-size: 30px;
height: 70px;
width: 70px;
text-align: center;
border-radius: 100%;
margin-right:20px;
    padding: 19px;
    border: 0;
    float:left;

}

.form-group button
{
  max-width: 80%;
    margin-left: 20%;
    border-color: #1CCDCA;
    background: #1CCDCA;
    width: 100%;
    border: 1px solid #1ccdca;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    display: inline-block;
    font-weight: inherit;

}
.form-group label{
  color:white;
  line-height: 39px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size:15px;
}
.contacttitle{
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 20px;
  line-height: 24px;
}
#HOME,#ABOUT,#PORTFOLIO,#TEAM,#CONTACT{
  padding-top:70px;

}
.col-sm-10 p{
  color:white;
}
/* .c_con{
  line-height: 10px;
}
.c_title{
  color:white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.c_name{

color: white;
text-transform: capitalize;
} */
/*
.btn_a {

  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  overflow: hidden;
  color: #888;
  background: #fff;
  border-radius: 3px;
  padding: 5px;
  transition: all 0.4s ease;

} */
/* .f_right {
  float: right;
}
.white_section .btn_a {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

  border: none;
} */

/* .form{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: Normal;
    font-style: normal;
    color: #666666;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
} */
/* #filter-by.option-set {
  position: relative;
  font-size: 0;
  text-align: center;
  margin: 0;
  padding: 0;
} */
/* .entry-content ul {
  list-style: square;
} */
/* .option-set {
  float: left;
} */
/* ul {
  display: block;

  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
} */





/* .col-md-3{
  position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 25%;
} */



/* .btn{
  border:1px solid #A2A2A2;
  padding:5px;
  color:#A2A2A2;
  background-color: white;
}
 .sort_list {
  max-width: 200px;
  float: right;
  min-width: 180px;
  position: relative;
  margin-right: 1px;
  margin-top: 12px;
  line-height: 17px;

} */

/* .container1 {
  position: relative;
  width: 50%;
}

.container1 .image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container1:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
.btn_group .btn:hover{
  background-color: #1ccdca !important;
}
.overlay button{
  color:white;
} */

